@font-face {
    font-family: 'Shilla_CultureM-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureM-Medium.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Shilla_Gothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_Gothic-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



.title{
    position: relative;
    display: flex;
    margin-top: 5vw;
    justify-content: center;
    font-size: 5vw;
    font-weight: 900;
    font-family: 'KOTRAHOPE';
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: black;
}


.container{
    position: relative;
    /* background-color: #083602; */
    background: rgb(1, 58, 10);
    margin: 5vh 15vw;
    border-radius: 10px;
    border-style: double;
    border-width: 0.4vw;
    /* margin-bottom: 1vw; */
    top: 23vh;
    margin-bottom: 20vw;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


#back {
    position: relative;
    color: black;
    font-size: 2vw;
    font-family: 'KOTRAHOPE';
    font-weight: 900;
    text-decoration: none;
    top: 10vh;
    left: 60vw;
    margin-bottom: 10vh;
}

#back:hover{
    color: red;
}

#post_container{
    justify-content: center;
}

#rgyPostIt {
    position: relative;
    display: inline-block;
    /* width: 50%; */
    height: 30vh;
    padding: 30px 20px 30px 20px;
    margin-top: 5vh;
    margin-bottom: 3vh;
    margin-left: 2vw;
    margin-right: 2vw;
    border: 1px solid #f8f861;
    border-left: 30px solid #f8f861;
    border-bottom-right-radius: 60px 10px;
    font-family: 'KOTRAHOPE';
    font-size: 1.5vw;
    color: rgb(0, 0, 0);
    word-break: break-all;
    background: #ffff88; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%, #ffff88), color-stop(82%, #ffff88), color-stop(82%, #ffff88), color-stop(100%, #ffffc6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* IE10+ */
    background: linear-gradient(135deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff88', endColorstr='#ffffc6', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
  }
  
  #rgyPostIt::after {
    content: " ";
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 35px;
    width: 150px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 2px 35px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 2px 35px 5px rgba(0, 0, 0, 0.4);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
  }
  
  #rgyPostIt:hover {
    border-bottom-right-radius: 75px 30px;
  }
  
  #rgyPostIt:hover::after {
    box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
  }
  
  #rgyPostIt > p {
    padding: 5px 0 !important;
  }
  
  #rgyPostIt > p::before {
    /* content:"\f198"; */
    margin-right: 7px;
    font-family: 'Gowun Dodum';
    font-weight: normal;
    font-size: 20px;
    vertical-align: middle;
  }
  
  #rgyPostIt > p > a {
    color: #555;
  }


 
  .inputname {
    position: absolute;
    left: 19%;
    top: 30vh;
    width: 15vw;
    height: 5vh;
    font-family: 'KOTRAHOPE';
    font-size: 1.5vw;
    text-align: center;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    color: black;
  }

  .inputtext {
    position: absolute;
    left: 36%;
    top: 30vh;
    width: 32vw;
    height: 5vh;
    font-family: 'KOTRAHOPE';
    font-size: 1.5vw;
    text-align: center;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    color: black;
    /* padding-top: 1vh; */

  }

  #write {
    position: absolute;
    left: 70%;
    top: 30vh;
    width: 8vw;
    height: 6vh;
    background-color: gold;
    border: 3px solid black;
    border-radius: 5px;
    font-family: 'KOTRAHOPE';
    font-size: 1.5vw;
    text-align: center;
    cursor: pointer;
    transition: 0.4s all; 
    overflow:hidden;
  }

  #write:hover{
    color: blue;
    transform: scale(1.2);
  }

  #write:after{
    content:''; 
    position: absolute; 
    top: calc(50% - 50px); 
    left: -50px; width: 20px; 
    height: 100px; 
    background: white; 
    -webkit-transform: rotate(30deg); 
    transform:rotate(30deg); 
    -webkit-transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1); 
    opacity: 0;}
#write:hover:after {
    left: calc(100% + 50px); 
    opacity: 1;}


  #person_name{
    position: relative;
    font-size: 2vw;
    text-align: center;
    font-family: 'KOTRAHOPE';
  }
  #person_text{
    position: relative;
    width: 12vw;
    text-align: center;
    font-size: 1.5vw;
    top: 3vh;
    font-family: 'KOTRAHOPE';
  }

 
#guest_date{
  position: absolute;
  font-size: 1vw;
  bottom: 10px;
  right: 4.5vw;
}

#guest_hour{
  position: absolute;
  font-size: 1vw;
  bottom: 10px;
  right: 1vw;
}