@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,900&display=swap');



.container {
    position: relative;
    margin: 25vh 15vw;
    font-family: 'Bitter', serif;
    display: flex;
    justify-content: center;
}

.titlebox{
  /* display: flex; */
  position: absolute;
  font-size: 4vw;
  font-family: 'Bitter', serif;
  /* left: 40vw; */
  top: -10vh;
  font-weight: 900;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #201e1ef1;
  
}


.fade_in {
    @include mui-fade(in);
}

.main {
    position: absolute;
    width: 996px;
    height: 50px;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid #272727;
    overflow: hidden;
    top: 60vh;
  }
  
  .fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
  }
  
  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'KOTRAHOPE';
    color: #272727;
  }




  .c {
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    width: 300px;
    height: 300px;
    cursor: pointer;
    will-change: transform, opacity;
  }
  
  .front,
  .back {
    background-size: cover;
  }
  
  .back {
    background-image: url(https://i.pinimg.com/originals/3d/9e/22/3d9e22dd125ed5e3851689139735d682.jpg);
  }
  
  .front {
    background-image: url(https://prodigits.co.uk/thumbs/wallpapers/p2ls/animals/49/055273d312382225.jpg);
  }
  
  .flip_container {
    position: absolute;
    top: -10vh;
    left: 70vw;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  

 .move_container {
    position: absolute;
    /* top: 20vh; */
    left: -3vw;
 }



 .bg {
  position: relative;
  top: 10vh;
  /* bottom: 5vh; */
  width: 40vw;
  height: 40vh;
  background-size: cover;
  background-position: center;
  will-change: opacity;
}