@font-face {
    font-family: "ROKAFSansBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }


.Bgm {
    position: fixed;
    width: 3rem;
    top: 2vw;
    right: 5vw;
    cursor: pointer;
    z-index: 100;
  }
  
  
#musicbar {
    position: fixed;
    /* display: inline-block; */
    font-size: 1vw;
    text-align: center;
    width: 15vw;
    height: 5vw;
    border-radius: 10px;
    font-family: "ROKAFSansBold";
    /* color: #fff89a; */
    /* background-color: black; */
    border: none;
    top: 2.6vw;
    right: 10vw;
  }

#next {
    position: fixed;
    width: 1.5rem;
    top: 2.6vw;
    right: 8vw;
    cursor: pointer;
    z-index: 100;
}

.world {
  position: fixed;
  width: 3rem;
  top: 1.5vw;
  left: 5vw;
  cursor: pointer;
  z-index: 100;
}

#home {
  position: fixed;
  font-size: 1vw;
  top: 4.2vw;
  left: 4.7vw;
  font-family: "ROKAFSansBold";
  z-index: 100;
}