



.order_item,
.order_item2 {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Bitter', serif;
  font-weight: 300;
  font-size: 24px;
}

.order_item {
  position: relative;
  width: 300px;
}

.order_item2 {
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 15px 18px;
  position: relative;
  background: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
}



.order_item2 svg {
  width: 18px;
  height: 18px;
  cursor: grab;
}


#reorder {
    position: absolute;
    left: 15vw;
    top: 10vh;
}


.refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }



  .tin_body{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30vh;
  left: 45vw;
  }

  .tindow {
    width: 480px;
    height: 300px;
    border-radius: 10px;
    background: white;
    overflow: hidden;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    display: flex;
    flex-direction: column;
  }

  .tin_nav{
    background: #fdfdfd;
    padding: 5px 5px 0;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #eeeeee;
    height: 44px;
    display: grid;
    grid-template-columns: 1fr 35px;
    max-width: 480px;
    overflow: hidden;
  }

  .tin_main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 128px;
    flex-grow: 1;
    user-select: none;
  }

  .tabs {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 420px;
    padding-right: 10px;
  }



  #tin_ul,
  #tin_li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

#tin_li {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  padding: 10px 15px;
  position: relative;
  background: white;
  cursor: pointer;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  position: relative;
  user-select: none;
}

#tin_li span {
  flex-shrink: 1;
  flex-grow: 1;
  line-height: 18px;
  white-space: nowrap;
  display: block;
  min-width: 0;
  padding-right: 30px;
  mask-image: linear-gradient(to left, transparent 20px, #fff 40px);
  -webkit-mask-image: linear-gradient(to left, transparent 20px, #fff 40px);
}

#tin_li .close {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
}

#tin_li button {
  width: 20px;
  height: 20px;
  border: 0;
  background: #fff;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: #000;
  margin-left: 10px;
  cursor: pointer;
  flex-shrink: 0;
}






  .add-item {
    width: 30px;
    height: 30px;
    background: #eee;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    align-self: center;
  }
  
  .add-item:disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
  }




  .bboki {
    
    position: 'relative';
    width: '100%' !important;
    height: '20%' !important;
    animation: 'vibration .1s';
    animationIterationCount: '15';
    right: 10vw;

  @keyframes loadEffect1 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes vibration {
    from {
      transform: rotate(1deg);
    }
    to {
      transform: rotate(-1deg);
    }
  }

  @keyframes unloadEffect {
    0% {
      transform: translateX(0px);
      opacity: 1;
    }
    100% {
      transform: translateX(-30px);
      opacity: 0;
    }
  }}


 #modal_box{
  display: flex;
  position: absolute;
  justify-content: center;
 }


 #btn4 {
  width: 6vw;
  height: 4vh;
  font-size: 1.2vw;
  font-family: 'KOTRAHOPE';
  /* font-weight: 600; */
  border-radius: 10px;
  background-color: #ffed54;
  cursor: pointer;
  text-align: center;
  margin-left: 2vw;
  position: absolute;
  left: -2vw;
  bottom: -21vh;
  transition: 0.4s all; 
  overflow:hidden;
}

#btn4:hover{transform:scale(1.2);}
#btn4:after{
  content:''; 
  position: absolute; 
  top: calc(50% - 50px); 
  left: -50px; width: 20px; 
  height: 100px; 
  background: white; 
  -webkit-transform: rotate(30deg); 
  transform:rotate(30deg); 
  -webkit-transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1); 
  opacity: 0;}
#btn4:hover:after {
  left: calc(100% + 50px); 
  opacity: 1;}